<footer>
    <p>&copy;2022 Phoenix. All rights reserved </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="css/script.js"></script>
</body>
</html>