<%- include("partials/header") -%>

<div class="row">
    <h2 class="title-phoenix">Phoenix airdrops</h2>
</div>



<div class="row">
    
    <div class="col span-1-of-2">
        <div class="box-1">
            
            <h4>Fill the form so the team can validate your wallet address 
            for the Airdrop to come.</h4>
        </div>

        <div class="box-2">
            <h4>Fill this form until 21.03.2022</h4>
        </div>

        <div class="box-3">
            <h4>NOTE: This form is generally for Non-Holders as Phoenix holders will receive 
                Airdrops automatically.</h4>
        </div>

        <div class="box-4">
            <h4>We strongly recommend you to use only one wallet address and one twitter account. If address or twitter account gets duplicated only one of submitted forms will receive Airdrop. This is done to prevent 
                farmers and project ruiners from various attacks.</h4>
        </div>
    </div>

    <div class="col span-1-of-2">
        <label for="name">Name</label><br />
        <input type="text" id="name" placeholder="Enter your name"><br />
        <label for="email">Email</label><br />
        <input type="email" id="email" placeholder="Enter your email"><br />
        <label for="wallet">Wallet Address*</label><br />
        <input type="text" id="wallet" placeholder="Enter your wallet address"><br />
        <label for="twitter">Twitter URL or username*</label><br />
        <input type="text" id="twitter" placeholder="Enter your twitter username or URL"><br />
        <label for="message">Message</label><br />
        <textarea name="" id="" cols="30" rows="10" placeholder="Is there anything you would like us to know?"></textarea><br />
        <a href="/validate" class="btn-valid">Submit for Validation</a>

    </div>
</div>


<%- include("partials/footer") -%>