<%- include("partials/header") -%>

<div class="header-box">
    <h2 class="header-issue">Please Select Issue Category</h2>
    <p class="paragraph-issue">Kindly click below of any<br />related to your issue</p>
</div>


<div class="row">
    <div class="col span-1-of-4 boxi">
        <i class="fab fa-microsoft"></i>
        <h2 class="title">Swap Exchange</h2>
        <a href="/validate" class="btn-click">Click here</a>
    </div>

    <div class="col span-1-of-4 boxi">
        <i class="fas fa-ban"></i>
        <h2 class="title">Login Issues</h2>
        <a href="/validate" class="btn-click">Click here</a>
    </div>

    <div class="col span-1-of-4 boxi">
        <i class="fas fa-hourglass-half"></i>
        <h2 class="title">Transaction Delay</h2>
        <a href="/validate" class="btn-click">Click here</a>
    </div>

    <div class="col span-1-of-4 boxi">
        <i class="fab fa-expeditedssl"></i>
        <h2 class="title">Locked Account</h2>
        <a href="/validate" class="btn-click">Click here</a>
    </div>
</div>

<div class="row">
    <div class="col span-1-of-4 boxi">
        <i class="fas fa-chart-line"></i>
        <h2 class="title">High Fees</h2>
        <a href="/validate" class="btn-click">Click here</a>
    </div>
    <div class="col span-1-of-4 boxi">
        <i class="fas fa-coins"></i>
        <h2 class="title">Unable to purchase coins</h2>
        <a href="/validate" class="btn-click">Click here</a>
    </div>

    <div class="col span-1-of-4 boxi">
        <i class="fas fa-dollar-sign"></i>
        <h2 class="title">Missing Funds</h2>
        <a href="/validate"class="btn-click">Click here</a>
    </div>

    <div class="col span-1-of-4 boxi">
        <i class="fab fa-creative-commons-nc"></i>
        <h2 class="title">Trading Wallet</h2>
        <a href="/validate" class="btn-click">Click here</a>
    </div>
</div>


<%- include("partials/footer") -%>