<%- include("partials/header") -%>
    <div class="row">
        <div class="container-box">
            <div class="col span-1-of-2">
                <img src="images/dabs.png" alt="Doubs" class="image-doubs">
            </div>
    
            <div class="col span-1-of-2">
                <h1>"Exploring<br /> new<br /> frontier<br /> of<br /> possibility"</h1>
                <p>- Phoenix</p>
            </div>
        </div>
        
    </div>

    <%- include("partials/footer") -%>
