<%- include("partials/header") -%>

<div class="row">

    <div class="box-sale">
        <h3 class="header-sale">Pre-sale Announcement</h3>
    </div>
    

    <div class="box-1">
        <span>Pre-sale:</span><br />   
        <span>Start Date - 12.03.2022 16:00 UTC</span><br />    
        <span>End Date - 15.03.2022 16:00 UTC</span><br />    
    </div>

    <div class="box-2">
        <span>We're happy to announce that our Pre-sale will go live on 12 March 2022.</span><br />     
        <span>Total will be sold 10M Phoenix at price 0.03 ETH</span><br />  
    </div>

    <div class="box-3">
        <span>This is the one and only way to gain more in Airdrop series.</span>  

    </div>

    <div class="box-4"> 
        <span>NOTE: If there will be amount left from Airdrop, it will be used to fund some activities in our social medias 
            (Example: meme contest, Giveaways and many more)</span> </div>
        
        <div class="box-5">
            <span>If you don't know how to buy Phoenix, check our step by step guide, Also before buying we strongly 
                recommend you to read our <a href="">Whitepaper</a></span>
        </div>

        <div class="box-6"> 
            <span>Validate your wallet to buy phoenix now</span>  
        </div>
        
        <div class="box-7">
            <a href="/validate" class="btn-validate">Validate</a>
        </div>
        
</div>

<%- include("partials/footer") -%>



    


